{% extends 'base.html.twig' %}
{% block title 'All programs'%}
{% block body %}
    <div class="container text-center mt-5">
        <h1 class="text-light">Toutes les séries de la table program</h1>
        <p><a class="text-light" href="{{ path("program_new") }}">Ajouter une nouvelle série</a></p>
            {% for program in programs %}
                <div>
                    <h2 class="text-light">{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
                    <img class="icone align-self-start mx-3 w-25" src="{{program.poster}}" alt="{{ program.title }} poster">
                    <p class="text-light">{{ program.summary }}</p>
                    <a class="text-light" href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
                </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
{% endblock %}
