{% extends 'base.html.twig' %}

{% block body %}
    <div class="media text-light">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <h2>Acteurs</h2>
            <ul>
                {% for actor in program.actors %}
                    <li>{{ actor.name }} </li>
                    <a class="text-light" href="{{ path('actor_show',{actor: actor.id}) }}"> {{actor.name}} </a>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
            <ul>
                {% for season in seasons %}
                <li>{{ season.description }}</li>
                    <a class="text-light" href="{{ path('program_show_season',{program: program.id, season: season.id}) }}"> Saison n° {{ season.id }} </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <a class="text-light" href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}